[submodule "sb-utils"]
	path = sb-utils
	url = https://github.com/caricsvk/sb-utils.git
[submodule "shiftplanner/src/main/resources/static"]
	path = shiftplanner/src/main/resources/static
	url = https://github.com/caricsvk/shiftplanner-frontend.git
